<p-toast key="SS" position="bottom-right"></p-toast>
<p-table selectionMode="single" [(selection)]="selectedTransfert" responsive= false [value]="Transfert">
  <ng-template pTemplate="header">
    <tr>
      <th>Reference Transfert</th>
      <th>Date Transfert</th>
      <th>BoutiqueDestinataire</th>
      <th>BoutiqueEmetteur</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"  let-T>
    <tr [pSelectableRow]="T">
      <td>{{T.referenceTransfert}}</td>
      <td>{{T.dateTransfert}}</td>
      <td>Ooredoo Lac 2 </td>
      <td>Ooredoo Tunis </td>
      <td><button pButton type="button" label="Confirmer"  (click)="AcceptTransfert(T)" class="ui-button-success" [disabled]="Confirmer"></button>
      <button pButton type="button" label="Demarrer"  (click)="StartTransfert()" class="ui-button-info"></button></td>
    </tr>
  </ng-template>
</p-table>
