<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">

      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Produits</h5>
                  <span class="h2 font-weight-bold mb-0">{{ProdNumbers}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Utilisateurs</h5>
                  <span class="h2 font-weight-bold mb-0">{{UserNumbers}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Transferts</h5>
                  <span class="h2 font-weight-bold mb-0">{{TransfertNumbers}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Alert</h5>
                  <span class="h2 font-weight-bold mb-0">{{AlertNumbers}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <p-panel class="container-fluid mt--50">
    <p-header>Chart Des prix de Produits</p-header>

  <p-chart [data]="datachart" type="line"></p-chart>
  </p-panel>
  <p-panel>
    <p-header>Transaction De commandes</p-header>
    <p-table [value]="Commandes">
      <ng-template pTemplate="header">
        <tr>
          <th>IdCommandes</th>
          <th>ReferenceProduit</th>
          <th>CinClient</th>
          <th>NomClient</th>
          <th>PrenomClient</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-C>
        <tr>
          <td>{{C.idcom}}</td>
          <td>{{C.reprod}}</td>
          <td>{{C.cinclient}}</td>
          <td>{{C.nomclient}}</td>
          <td>{{C.prenomclient}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
