<!-- main app container -->
<div class="card m-3" id="Cadre">
  <h5 class="card-header">Details de Commande</h5>
  <div class="card-body">
    <hr/>
    <div>
      <div style="text-align: center;">
        <label><b>Id Commande: </b></label> {{Idcommande}}
      </div>
      <div style="text-align: center;">
        <label><b>Nom client : </b></label> {{NomClient}}
      </div>
      <div style="text-align: center;">
        <label><b>Prénom client : </b></label> {{PrenomClient}}
      </div>
      <div style="text-align: center;">
        <label><b>Nom Boutique: </b></label> Ooredoo Lac 2
      </div>
      <div style="text-align: center;">
        <label><b>Référence Produit: </b></label> {{RefProd}}
      </div>
      <div style="text-align: center;">
        <label><b>Prix (DT): </b></label> 1500 DT
      </div>
      <div style="text-align: center;">
        <label><b>Quantité: </b></label> {{Qte}}
      </div>
      <div style="text-align: center;">  <b><mat-label>Prix Totale : </mat-label></b>
        (DT)</div>
    </div>



    <div style="text-align: center;">
      <br>
      <button  (click)="pdf()"  class="btn btn-primary" style="margin-right: 20px;">Imprimer PDF</button>

      <button (click)="list()" class="btn btn-primary">Retour a la liste de commandes</button><br>
    </div>


  </div>
</div>
