
<p-toast key="SS" position="bottom-left"></p-toast>
<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <!--<div class="container-fluid">
    <div class="header-body">
       Card stats
      <div class="row">

      </div>
    </div>
  </div>-->
</div>
<p-dialog header="Details Transferts" [(visible)]="displayposition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <div class="card">
    <div class="card-body">
      <div class="ui-fluid">
        Reference Transfert : <input type="text" pInputText  disabled [(ngModel)]="RefTranDialog"/>
        Date Transfert : <input type="text" pInputText  disabled [(ngModel)]="DateDualog"/>
        Statut De Transfert : <input type="text" pInputText disabled [(ngModel)]="StatutTransDialog"/>
        Coursier : <input type="text" pInputText disabled [(ngModel)]="CoursierDialog"/>
        Boutique Emetteur : <input type="text" pInputText disabled [(ngModel)]="BoutiqueEmDialog"/>
        Boutique Destinataire: <input type="text" pInputText disabled [(ngModel)]="BooutiqueDisDialog"/>
      </div>
    </div>
  </div>
</p-dialog>

<div class ="container-fluid mt--2">
  <div class="row">
   <div class="col-xl-4 mb-5 mb-x1-0">

     <div class="table-responsive">
      <p-table [value]="TransfertTab" >
        <ng-template pTemplate="header">
          <tr>
            <th>Reference Transfert</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </ng-template>
          <ng-template pTemplate="body" let-T>
            <tr>
            <td>{{T.referenceTransfert}}</td>
              <ng-container ngSwitch="{{T.statut}}">
            <td *ngSwitchCase="1"><p-message severity="success" text=" Terminé"></p-message></td>
            <td *ngSwitchCase="0"><p-message severity="warn" text=" Encours"></p-message></td>
              </ng-container>
              <td><button pButton type="button" class="ui-button-secondary" (click)="showDetailsTransfert(T,'topright')" icon="pi pi-cog"></button></td>
            </tr>
          </ng-template>
      </p-table>
     </div>
    </div>
      <div class="col-xl-8 col-lg-4">
        <p-panel>
          <p-header>Formulaire de Transfert</p-header>

        <form role="form" [formGroup]="TransfertForm" >
          <div class="ui-fluid">
          <div class="form-group">
               <span class="ui-float-label">
    <input id="RefTransfert" type="text" size="30"  pInputText>
    <label for="RefTransfert">Reference Transfert</label>
</span>
          </div>
          <div class="form-group">
            <!-- i need to get  Data from Alert  -->
               <span class="ui-float-label">
    <input id="BoutiqueDestinataire" type="text" size="30" disabled  pInputText>
    <label for="BoutiqueDestinataire">BoutiqueDestinataire</label>
</span>
          </div>
          <div class="form-group">
            <!-- i need to get the closest Store -->
            <span class="ui-float-label">
    <input id="BoutiqueEmetteur" type="text" size="30"   pInputText>
    <label for="BoutiqueEmetteur">BoutiqueEmetteur</label>
</span>
          </div>
          <div class="form-group">
           <span class="ui-float-label">
            <p-calendar id="T" [(ngModel)]="dateValue" showButtonBar="true" size="100" formControlName="DateT" dateFormat="dd/mm/yy" #Mycalendar></p-calendar>
             <label for="T">DateTransfert</label>
           </span>
          </div>


          <div class="form-group">
            <p-dropdown [options]="CoursierTab" formControlName="DropD"></p-dropdown>
          </div>
          <div class="form-group">
            <button pButton type="button"  label="Ajouter Transfert" (click)="AddTransfert()" class="ui-button-raised ui-button-rounded"></button>
          </div>
          </div>
        </form>
        </p-panel>
  </div>

</div>

</div>
